[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
isort = "*"

[packages]
apple = {editable = true,path = "./apple"}
banana = {editable = true,path = "./banana"}
numpy = "*"
astroid = {git = "https://github.com/PyCQA/astroid"}

[requires]
python_version = "3.8"
