[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
isort = "*"

[packages]
functional-u = {editable = true,path = "./functional-u"}
functional-w = {editable = true,path = "./functional-w"}
numpy = "*"

[requires]
python_version = "3.8"
